#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --bg-color: #535bf2;
  --text-color: #242424;
  background-color: var(--bg-color);
  color: var(--text-color);
}


html.dark {
  --bg-color: #242424;
  --text-color: #ffffff;
}

html {
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/* LISTAS */


.task-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 0;
  flex-grow: 0;
}

.task-item>.textarea--tarea {
  /* ajustar el tamaño */
  min-width: 200px;
  flex-basis: 1;
  flex-grow: 3;
}

.task-item>button {
  color: red;
  padding: 8px 8px;
  height: min-content;
  align-self: center;
}

.task-item>li {
  color: red;
  font-size: 100px;
}

.task-item.today,
.task-item.tomorrow,
.task-item.futuras {
  font-size: 1rem;
}

.completed>span {
  text-decoration: line-through;
}

.completed {
  opacity: 60%;
  background-color: #4f4f4f;
}




/*CHECKBOX*/


#real--checkbox {
  /* Esconder el interruptor real */
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.fake--checkbox {
  /* Estilos base de la cubierta bonita */
  display: inline-block;
  /* Para que tome tamaño */
  width: 16px;
  height: 16px;
  border: 1px solid grey;
  background-color: white;
  margin-right: 8px;
  /* Espacio antes del texto */
  vertical-align: middle;
  /* Alinea con el texto */
}

#real--checkbox:checked+.fake--checkbox {
  /* Cambiar la cubierta cuando el real está encendido */
  background-color: rgb(7, 254, 61);
  /* Cambia a azul */
  border-color: rgba(0, 118, 0, 0.46);
}

.fake--checkbox::after {
  /* El símbolo de check */
  content: '✓';
  /* Opcional: Añadir la marca ✓ (usando un pseudo-elemento) */
  color: white;
  display: block;
  text-align: center;
  /* Para centrarlo */
  line-height: 16px;
  /* Alinear verticalmente */
  opacity: 0;
  /* Oculto por defecto */

}

#real--checkbox:checked+.fake--checkbox::after {
  opacity: 1;
  /* Mostrar la marca cuando está checked */
}

.checkbox--label {
  /* Hacer que el label sea clickeable */
  cursor: pointer;
  display: inline-flex;
  /* Alinea checkbox y texto */
  align-items: center;
}


/* HISTORIAL o MENU LATERAL */

.historial--titulo {
  font-size: 40px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 15px;
}

.fondo {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a61;
  left: 0px;
  top: 0;
}

.menu--lateral {
  position: relative;
  z-index: 3;
  background-color: #1a1a1aec;
  min-width: 300px;
  max-width: 66%;
  height: 100%;
  overflow-y: auto;
}

body.historial--abierto {
  overflow: hidden;
}

.historial--dia {
  color: red;

  li {
    color: white;
    width: fit-content;
  }

  :first-child {
    margin-top: 0;
  }
}

.historial--ul>li {
  margin-left: 09%;
}



/* NAV */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
}




/* MEDIA QUERYS */



@media screen and (min-width: 900px) {

  /* ORDEN PC*/
  .main {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
  }


  .list--today,
  /* Secciones de las listas (Izquierda y Derecha): Queremos que estas SÍ crezcan en ANCHO.*/
  .list--tomorrow {
    flex-grow: 1;
    /* Les dice a las listas que "crezcan" en ANCHO */
    flex-basis: 0;
    /* Les da una base de 0 para que crezcan equitativamente */
    min-width: 300px;
  }

  .form {
    flex-grow: 0;
    /* Le dice al formulario que NO crezca */
    flex-shrink: 0;
    /* Le dice que NO se encoja */
    /* El formulario mantendrá el ancho que su contenido le dé */
  }
}